* {
  box-sizing: border-box;
 
}
#di{
  float:left;
  padding:10px;
  border: 1px solid black;
}
section{
  border: 1px solid black;
  width:10%;
  position: relative;
  top:0px;
  clear:right;
}
@media (min-width: 992px){
#di{
  width:33.33%;
}}

@media (min-width: 768px) and (max-width: 991px){
  #di{
  width:50%;
}
}
@media (max-width: 767px){
  #di{
  width:100%;
}
}
